<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>
<div>Dear Admin,</div><br>
<div><span th:text="${userName}"></span> has placed an order, Please find below the summary of your order</div><br>
<table style="width:100%">
    <tr>
        <th>S.No</th>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    <tr th:each="item,iterator : ${items}">
        <td th:text="${iterator.index+1}"></td>
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.quantity}"></td>
        <td th:text="${'$'+item.totalPrice}"></td>
    </tr>
</table>
<br>
<div>Total Amount : <span th:text="${'$'+totalAmount}"></span></div>
<div>Customer Email : <span th:text="${email}"></span></div>
<div>Phone No. : <span th:text="${phone}"></span></div>


<br>
<div>Shipping Address:</div><br>
<div th:text="${address.customerName}"></div>
<div th:text="${address.addressLine1 +', '+address.addressLine2}"></div>
<div th:text="${address.city}"></div>
<div th:text="${address.state}"></div>
<div th:text="${address.country}"></div>
<div th:text="${address.postalCode}"></div>

<br>
<div th:text="${'Order Id: '+orderId}"></div>
<div th:text="${'Order Placed on: '+orderDate}"></div>
<br>
<div>Note: This email was sent from a notification-only address. The incoming email will be unread. Please do not reply to this message.</div>
</body>
</html>
